<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First Demo For Vue.js by bootsrap</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div class="contenter">
        <div class="col-md-6 col-md-offset-3">
            <h1>Vue demo</h1>
            <div id="app" v-cloak>
                <table class="table table-striped">
                    <tr>
                        <th @click="sortby('id')">序号</th>
                        <th @click="sortby('name')">书名</th>
                        <th @click="sortby('author')">作者</th>
                        <th @click="sortby('price')">价格</th>
                        <th>操作</th>
                    </tr>
                    <tr v-for="book in books">
                        <td>{{ book.id }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.name }}</td>
                        <td>{{ book.price }}</td>
                        <td>
                            <template v-if="book.id%2==0">
                                <button type="button" class="btn btn-danger " @click="delbook(book)">删除</button>
                            </template>
                            <template v-else>
                                <button type="button" class="btn btn-success " @click="delbook(book)">删除</button>
                            </template>
                        </td>
                    </tr>
                    <tr>
                        <td>总价：</td>
                        <td col="4">{{ sum }}</td>
                    </tr>
                </table>
                <div id="add-book">
                    <legend>添加书籍</legend>
                    <div class="form-group ">
                        <label for=" ">书名</label>
                        <input type="text " class="form-control " name="book-name " v-model="book.name ">
                    </div>
                    <div class="form-group ">
                        <label for=" ">作者</label>
                        <input type="text " class="form-control " name="book-author " v-model="book.author ">
                    </div>
                    <div class="form-group ">
                        <label for=" ">价格</label>
                        <input type="text " class="form-control " name="book-price " v-model="book.price ">
                    </div>
                    <button class="btn btn-primary btn-block " v-on:click="addbook() ">添加</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.3.4/vue.js "></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.js"></script>
    <script src="app.js "></script>
</body>

</html>